body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Meddon', cursive;
}

.clearfix {
	clear: both;
}

.splash {
	position: relative;
	width: 100vw;
	height: 100vh;
	min-height: 560px;
	background: url(../images/couple.JPG) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.splash .overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(45, 57, 86, 0.2);
}

.splash .wrapper {
	width: 100%;
	height: 100%;
	max-width: 1400px;
}

.splash .names {
	color: #fff;
	font-size: 2em;
	position: absolute;
	bottom: 100px;
	right: 100px;
	text-align: center;
}

.splash .names h1 {
	margin: 0;
}

.splash .names h1:not(.bg) {
	position: relative;
	z-index: 2;
}

.splash .names .bg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgba(255, 26, 0, 0.5);
	font-size: 4.5em;
	padding-top: 40px;
	padding-right: 20px;
}

.menu {
	position: absolute;
	bottom: 70px;
	left: 100px;
	color: #fff;
}

.menu ul {
	list-style: none;
	padding: 0;
}

.menu ul li {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	padding: 5px 0;
	font-family: 'Cinzel', serif;
}

.menu ul li:first-child {
	margin-left: 0;
}

.menu li:before {
  content: " ";
  position: absolute;
  left: 0%;
  bottom: -2px;
  height: 1px;
  width: 0%;
  background-color: #fff;
  transition: width 0.5s ease-in-out;
}
.menu li:after {
  content: " ";
  position: absolute;
  right: 0%;
  bottom: -2px;
  height: 1px;
  width: 0%;
  background-color: #fff;
  transition: width 0.5s ease-in-out;
}
.menu li:hover:before, .menu li:focus:before {
  width: 50%;
}
.menu li:hover:after, .menu li:focus:after {
  width: 50%;
}

.menu a {
	color: #fff;
}

#couple, #wherewhen, #weddingparty {
	outline: none;
}

#couple .wrapper, #wherewhen .wrapper, #weddingparty .wrapper {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding: 70px 100px;
}

#couple .details img {
	width: 200px;
	border-radius: 50%;
	margin-right: 30px;
	margin-bottom: 30px;
	display: block;
	float: left;
}

#couple .details h1, #wherewhen .details h1, #weddingparty h1 {
	color: #ff1a00;
	opacity: 0.7
}

#wherewhen .wrapper, #weddingparty .wrapper {
	padding-top: 0;
}

#wherewhen .details {
	display: flex;
	text-align: right;
}

#wherewhen iframe {
	width: 40%;
	margin-left: 30px;
}

#weddingparty img {
	width: 200px;
	border-radius: 50%;
}

#weddingparty h1 {
	text-align: center;
}

#weddingparty .pair-wrapper {
	display: flex;
}

#weddingparty .person-wrapper {
	flex: 1;
	padding-top: 30px;
}

#weddingparty .person-wrapper:first-child {
	padding-right: 15px;
	text-align: right;
}

#weddingparty .person-wrapper:first-child img {
	float: right;
	margin-left: 30px;
}

#weddingparty .person-wrapper:last-child {
	padding-left: 15px;
}

#weddingparty .person-wrapper:last-child img {
	float: left;
	margin-right: 30px;
}

#weddingparty h3 {
	margin-top: 65px;
	line-height: 1.5em;
}

@media (max-width: 1200px) {
	.splash .names {
		bottom: 150px;
		right: 50%;
		transform: translateX(50%);
	}
	.menu {
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
	.menu ul {
		margin: 0;
		padding-left: 70px;
		padding-right: 70px;
		text-align: center;
	}
	.menu ul li {
		margin-bottom: 8px;
	}
	.menu ul li:first-child {
		margin-left: 20px;
	}
}


@media (max-width: 1100px) {
	#weddingparty h3 {
		margin-top: 50px;
	}
}

@media (max-width: 980px) {
	#couple .wrapper, #wherewhen .wrapper, #weddingparty .wrapper {
		padding: 35px 50px;
	}
	#wherewhen .wrapper, #weddingparty .wrapper {
		padding-top: 0;
	}
}

@media (max-width: 850px) {
	#couple .wrapper, #wherewhen .wrapper, #weddingparty .wrapper {
		padding: 17.5px 25px;
	}
	#weddingparty .person-wrapper:first-child {
		padding-right: 7px;
	}
	#weddingparty .person-wrapper:first-child img {
		margin-left: 15px;
	}
	#weddingparty .person-wrapper:last-child {
		padding-left: 7px;
	}
	#weddingparty .person-wrapper:last-child img {
		margin-right: 15px;
	}
}

@media (max-width: 760px) {
	#weddingparty .pair-wrapper {
		display: block;
	}
}

@media (max-width: 600px) {
	.splash .names {
		font-size: 1.3em;
	}
	.splash .names .bg {
		padding-top: 26px;
		padding-right: 13px;
	}
	#couple .details img {
		float: none;
		display: block;
		margin: 0 auto;
	}
	#wherewhen .details {
		display: block;
	}
	#wherewhen iframe {
		width: 100%;
		margin: 30px 0 0 0;
	}
}